<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test name="Test">
  <!--	<parameter name="username" value="yuely191@qq.com"></parameter>
  	<parameter name="password" value="yuely191"></parameter>-->
    <classes>
      <class name="com.tester.extend.demo.TestDemo"/>
    </classes>
  </test> <!-- Test -->
  
  <listeners>
	<listener class-name="com.tester.extend.demo.ReporterListener" />
    <listener class-name="com.tester.listener.demo.ListenerDemo1" />
  </listeners>

</suite> <!-- Suite -->
